<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Suite">
<listeners>
<listener class-name="customListner.Listner"/>
</listeners>
  <test name="Test">
    <classes>
      <class name="testScript.Tc_0001Login"/>
       <class name="testScript.Tc_002_Registration"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
